nav {
  background-color: var(--bg);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: background-color .4s;
}

.navbar {
  grid-column: var(--bg);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50px;
  color: var(--fg);
  transition: background-color .4s, color .4s;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-items {
  display: flex;
  position: fixed;
  top: 50px;
  left: 0;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
  background-color: var(--dark-bg);
  transition: background-color .4s;
  width: 100%;
  transition: left .3s cubic-bezier(0.86, 0.28, 0, 0.8);
}

.d-none {
  left: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar i {
  font-size: 1.3rem;
  color: var(--fg);
  transition: color .4s;
}

.navbar a {
  color: var(--fg);
  text-decoration: none;
  user-select: none;
  padding: 2px 8px;
  transition: color .4s;
}

.active {
  background-color: var(--primary);
  border-radius: 2px;
  transition: background-color .4s;
}

@media only screen and (min-width: 992px) {

  .navbar-container {
    width: 100%;
    position: relative;
    display: flex;
    height: 50px;
    justify-content: space-between;
  }

  .navbar-items {
    position: initial;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    height: 0px;
    gap: 40px;
    background-color: var(--bg);
    transition: background-color .4s;
  }

  .navbar-burger {
    display: none;
  }
  
}
