/* ====== FONTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* ====== HOME ======= */
@import './css/navbar//navbar.css';
@import './css/home/section1.css';
@import './css/home/section2.css';

/* ====== SERVICES ====== */
@import './css/services/section3.css';

/* ====== ABOUT US ====== */

@import './css/AboutUs/section4.css';

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #E8E8E9;
  --fg: #040F0F;
  --dark-bg: #c6c6c8;
  --dark-fg: #0b2828;
  --primary: #289944;
  --secondary: #0E3013;
}

.dark {
  --bg: #040F0F;
  --fg: #E8E8E9;
  --dark-bg: #0b2828;
  --dark-fg: #c6c6c8;
  --primary: #289944;
  --secondary: #1d6327; 
}

body {
  font-family: 'Poppins';
}

.background {
  background-color: var(--bg);
  height: auto;
  transition: background-color .4s;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
