@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import './css/navbar.css';
@import './css/section1.css';
@import './css/section2.css';

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #FFFFFF;
  --dark-bg: #9f9f9f;
  --fg: #2D3030;
  --dark-fg: #151515;
  --primary: #5CA69B;
  --secondary: #8DD883;
}

body {
  font-family: 'Poppins';
}

.background {
  background-color: var(--bg);
  height: auto;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
